{% extends "base_generic.html" %}

{% block content %}
<p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>! At this site, you can browse lists of our books and authors and see your borrowed books along with their due dates.</p>
<p>LocalLibrary has the following record counts:</p>
<ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
</ul>
{% endblock %}

{% block title %}<title>LocalLibrary</title>{% endblock%}